rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /playlists/{docId} { // it maps the id
      allow read, create:if request.auth!=null;
      allow delete, update:if request.auth.uid== resource.data.userId

    }
  }
}